@import "tailwindcss";

@theme {
  --font-sans: "Inter", "sans-serif";
  --color-slate-850: #151e2e;
  --color-slate-950: #020617;
}

@layer base {
  body {
    @apply font-sans bg-slate-950 text-white;
  }
}

/* Custom scrollbar for builder */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0f172a;
}
